@model LAB3.Models.Animals

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Animals</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AN_ID" />
            <div class="form-group">
                <label asp-for="AN_NAME" class="control-label"></label>
                <input asp-for="AN_NAME" class="form-control" />
                <span asp-validation-for="AN_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AN_HEIGHT" class="control-label"></label>
                <input asp-for="AN_HEIGHT" class="form-control" />
                <span asp-validation-for="AN_HEIGHT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AN_WEIGHT" class="control-label"></label>
                <input asp-for="AN_WEIGHT" class="form-control" />
                <span asp-validation-for="AN_WEIGHT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
