@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h1>What’s a Cookies Policy</h1>
<h3>
    A cookie policy is a declaration to your users on what cookies are active on your website, what user data they track, for what purpose, and where in the world this data is sent.

    Also, a cookie policy should contain information on how your users may opt out of the cookies or change their settings in regard to the cookies on your website.

    Many website owners choose to incorporate the cookie policy as a section of their privacy policy.



</h3>
<h1>
    ________________________________________________________________________________________________________________________________________________________________________kkk,,,,,,,,,,,,

</h1>
<h5>
    Cookies are a potential privacy risk, because they are able to track, store and share user behaviour.

    Whereas most of the remaining privacy policy may be static, the cookies used on a website are dynamic and might change often. 
    Therefore, an adequate cookie policy should be regularly updated to make sure that the information is accurate.
</h5>
